@import "tailwindcss";
@source "../script.js";
@variant dark (&:where(.dark, .dark *));
@theme{
    --color-vermelho: #BD122C;
    --color-vermelho2: #991B1B;
    --color-vermelho3: #1B0506;
    --color-branco: #FAF6ED;
    --color-preto: #1F1D1E;

    --font-inter: 'Inter', sans-serif;
    --font-nunito: 'Nunito', serif;
}